	/*All option*/
		* {
			font-family: 'Noto Sans KR', sans-serif;
			/*'Noto Serif KR', serif;*/
			box-sizing: border-box;
		}
		body, ul, h1 { margin: 0px; padding: 0px; }
		body { background: #333; }
		ul { list-style: none; }
		a {text-decoration: none;}